{% extends "padre.html" %}
{% load static %}

{% block contenidoQueCambia %}
<body>
  <div class="containter text-center m-2">
    <div class="rounded d-inline-block p-3 mb-2 bg-secondary text-white"><b>Bibliotecas disponibles</b></div>  
  </div>
<div class="containter">
  <div class="row">
<!-- Donde dice object_list antes tenia el nombre del context (bibliotecas) -->
    {% for biblioteca in object_list %} 
      <div class="col-3">  
        <div class="card m-2" style="width: 18rem;">
          <img src="{{biblioteca.imagen}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title text-center">{{biblioteca.nombre}}</h5>
            <p class="card-text">{{biblioteca.apertura}}</p>
            <p class="card-text">{{biblioteca.direccion}}</p>
            <p class="card-text">{{biblioteca.localidad}}</p>
            <p class="card-text">{{biblioteca.provincia}}</p>
            <a class="btn btn-outline-primary m-2" href="{{biblioteca.link}}" role="button">Sitio Web</a>
            <a class="btn btn-outline-dark m-2" href="/biblio_detalle/{{biblioteca.id}}/" role="button">Ver detalles</a>
            <a class="btn btn-outline-danger m-2" href="{% url 'inicio' %}" role="button">Eliminar Biblioteca</a>
            </div>
        </div>
      </div>  
    {% endfor %}
</div>
<br>
</body>
{% endblock %}